<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'polls/img/raise-hand.png' %}" type="image/x-icon">
</head>
<body>
    <a href="{% url 'polls:index' %}">
        <img src="{% static 'polls/img/raise-hand.png' %}" width="70">
    </a>
    <div class="container">
        <div class="block">
            <h3>Latest questions</h3>
            {% for q in latest_question_list %}
                <a href="{% url 'polls:question-detail' pk=q.id %}">
                    <p>
                        {{ q }}
                    </p>
                </a>
                <span>
                    {{ q.created }}
                </span>
            {% endfor %}
        </div>
        <div class="block">
            <h3>Most viewed questions</h3>
            {% for q in most_viewed_question_list %}
                <a href="{% url 'polls:question-detail' pk=q.id %}">
                    <p>
                        {{ q }}
                    </p>
                </a>
                <span>
                    Views: {{ q.views }}
                </span>
            {% endfor %}
        </div>
        <div class="block">
            <h3>Most answered questions</h3>
            {% for q in most_answered_question_list %}
                <a href="{% url 'polls:question-detail' pk=q.id %}">
                    <p>
                        {{ q }}
                    </p>
                </a>
                <span>
                    Answers: {{ q.number_of_answers }}
                </span>
            {% endfor %}
        </div>
        <div class="block">
            <h3>Most voted questions</h3>
            {% for q in most_voted_question_list %}
                <a href="{% url 'polls:question-detail' pk=q.id %}">
                    <p>
                        {{ q }}
                    </p>
                </a>
                <span>
                    Votes: {{ q.sum_of_votes }}
                </span>
            {% endfor %}
        </div>
    </div>
</body>
</html>